.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
inst/doc
*.Rproj
*.swp

*DS_Store
*.Rapp.history
src/*.mod
deprecated/
jss-sparsegl/*
!jss-sparsegl/jss-sparsegl.Rmd
!jss-sparsegl/jss-sparsegl-preamble.tex
!jss-sparsegl/jss.bst
!jss-sparsegl/jss.cls
!jss-sparsegl/jsslogo.jpg
!jss-sparsegl/sparsegl.bib
